server:
  port: 8082
spring:
  datasource:
    url: jdbc:postgresql://database-surresell.c740uem2quei.us-east-2.rds.amazonaws.com:5432/pos_db
    username: postgres
    password: postgres
  jpa:
    properties:
      hibernate.format_sql: true
  application:
    name: ms-products-and-categories